<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Head-tagien sisältö -->
    <%- include("../partials/head") %>

</head>
<body>

    <header>

        <!-- Header-tagien sisältö -->
        <%- include("../partials/header") %>

    </header>


    
    <div class="container-fluid">

        <h1>Suosituimmat NY Times artikkelit</h1>
        
    </div>
    


    <!-- Footer-tagien sisältö -->
    <%- include("../partials/footer") %>

</body>