<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("../partials/head") %>

    <style>

        #etusivu {
            text-align: center;
            color: white;
        }

        .jumbotron {
            background-image: url("https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_1280.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>

</head>
<body>

    <header>

        <%- include("../partials/header") %>

    </header>
    
    <div class="jumbotron" id="etusivu">
        <h1>Template-projekti</h1>
        <p>Tällä sivustolla on esiteltynä aurinkokuntamme planeetat!</p>
        <hr class="my-4">
        <form action="/planeetat" method="GET">
            <button type="submit" class="btn btn-info">Katso planeettoja</button>
        </form>
    </div>
    
    <%- include("../partials/footer") %>

</body>
</html>